#canvas-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display:flex;
  justify-content: center;
}
canvas {
  touch-action: none;
}
.htmlScreen  div {
  /* aspect-ratio: 16/9; */
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: black;
  /* overflow: scroll; */
}
.resume-container {
  overflow-y: scroll;
  width: 100%;
}