* {
  touch-action: none;
}
#canvas-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display:flex;
  justify-content: center;
}
canvas {
  touch-action: none;
}
.htmlScreen > div:nth-child(-n + 3) {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  /* background: black; */
  background-color: white;
  touch-action: none;
}
.resume-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 670px;
  touch-action: none;
  background: linear-gradient(90deg, #cccccc 32%, #ffffff 0%);
  color:black;
  box-sizing: border-box;
  padding: 28px;
}
.resume-container h1 {
  font-size: 64px;
  margin: 0;
}
.resume-container h2, .resume-container h3 {
  margin: 0;
}